
#nutrition-section{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 0 250px;

    a{
        text-decoration: none;
        color: black;
    }
    
}

.recipe_card{
    overflow: hidden;
    box-shadow: 0px 2px 20px #cfd8dc;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease;

    .card_image{
        height: 20rem;
        width: 100%;
        object-fit: cover; 

    }

    .card_title{
        text-align: center;
        font-size: 24px;
        font-family: 'KenyanC';
        text-transform: capitalize;
        padding: 1rem;
    }

    .recipe_info{

        display: flex;
        justify-content: space-around;

        .meta_fields{
            display: flex;
        }

        .recipe-icon{
            margin-top: 3px;
        }

        .meta_data{
            margin-left: 10px;
            text-transform: capitalize;
            font-weight: bold;
        }

        
    }

    .card_desc{
        padding: 1rem;
    }

    .card_btn{
        background-color: black;
        color: white;
        padding: 1rem;
        text-align: end;
        margin-left: 30%;
        
    }

    &:hover{
        transform:scale(1.02)        
    }

    &:hover .card_btn{
        color: $primary;
    } 
}

@media screen and (max-width: 1024px){

    #nutrition-section{
        padding: 0 105px;
    }

}

@media screen and (max-width: 600px){

    
    #nutrition-section{
        grid-template-columns: repeat(auto-fit, minmax(17rem, 11rem));
        padding: 0 110px;
        margin-top: 0;
    
    }

    .recipe_card{
        .card_image{
            height: 15rem;
        }
    }

}
